.container {
    max-width: 96%;
    padding: 24px;
    margin: 0 auto;

    display: grid;
    grid-template-rows: auto 1fr auto;  
    height: 100vh;

    background-color: white;
    box-shadow: 0px 2px 8px rgba(0,0,0,0.05);
    box-sizing: border-box;
    margin-top: 2rem;
}